{:active
 {:database {:dbtype "sqlite" :dbname ":memory:"}

  :payment {:provider       :mock
            :webhook-secret "whsec_test_secret"
            :api-key        "sk_test_mock_key"}}

 :inactive {}}
