{:orders
 {:label           "Orders"
  :list-fields     [:order-number :customer-email :status :total-cents :currency :created-at]
  :search-fields   [:order-number :customer-email :customer-name]
  :hide-fields     #{:shipping-address :payment-intent-id}
  :has-many [{:entity      :order-items
              :table       :order_items
              :foreign-key :order-id
              :label       "Order Items"
              :fields      [:product-name :quantity :product-price-cents :total-cents]
              :editable    true}]
  :readonly-fields #{:id :order-number :created-at :subtotal-cents :shipping-cents
                     :tax-cents :total-cents :currency
                     :paid-at :shipped-at :delivered-at :cancelled-at}
  :fields
  {:status {:type :enum :label "Status" :filterable true
            :options [[:pending   "Pending"]
                      [:paid      "Paid"]
                      [:shipped   "Shipped"]
                      [:delivered "Delivered"]
                      [:cancelled "Cancelled"]
                      [:refunded  "Refunded"]]}}
  :default-sort     :created-at
  :default-sort-dir :desc}}
