{:products
 {:label           "Products"
  :list-fields     [:name :price-cents :currency :stock :active :created-at]
  :search-fields   [:name]
  :hide-fields     #{:slug}
  :readonly-fields #{:id :slug :created-at :updated-at}
  :fields
  {:name        {:type :string  :label "Product name" :required true}
   :price-cents {:type :int     :label "Price (cents)"}
   :currency    {:type :enum    :label "Currency"
                 :options [[:EUR "EUR"] [:USD "USD"] [:GBP "GBP"]]}
   :stock       {:type :int     :label "Stock"}
   :active      {:type :boolean :label "Active" :filterable true}}
  :default-sort     :name
  :default-sort-dir :asc}}
