{;; blog — dev configuration
 :active
 {:boundary/settings
  {:name             "blog-dev"
   :version          "0.1.0"
   :date-format      "yyyy-MM-dd"
   :date-time-format "yyyy-MM-dd HH:mm:ss"
   :features         {}}

  :boundary/sqlite
  {:db   "blog-dev.db"
   :pool {:minimum-idle 1 :maximum-pool-size 3 :connection-timeout-ms 10000}}

  :boundary/http
  {:port       #or [#env HTTP_PORT 3001]
   :host       #or [#env HTTP_HOST "0.0.0.0"]
   :join?      false
   :port-range {:start 3001 :end 3099}}

  :boundary/router
  {:adapter :reitit :coercion :malli :middleware []}

  :boundary/logging
  {:level :debug :console true}}

 :inactive
 {}}
